

<form  #formAdd="ngForm"  (ngSubmit)="onAddProduct()" class="p-4">
  <button class = "btn btn-primary" routerLink="/product" >Return</button>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="email" [(ngModel)]="product.name" class="form-control"  placeholder="Name" name="name"
    #name="ngModel"
    required
    minlength="2"
    >
    <div *ngIf="name.errors" class="alert">
      <div
          *ngIf="name.errors?.['required'] && (name.dirty || name.touched)"
          class="alert alert-danger"
      >
          Name is required
      </div>
      <div
          *ngIf="name.errors?.['minlength'] && (name.dirty || name.touched)"
          class="alert alert-danger"
      >
          Min length la 2
      </div>
  </div>
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Price</label>
    <input type="number" [(ngModel)]="product.price" class="form-control" placeholder="Price" name="price" 
    #price="ngModel"
    required
    number="true">
  </div> 
  <div *ngIf="price.errors" class="alert">
    <div
        *ngIf="price.errors?.['required'] && (price.dirty || price.touched)"
        class="alert alert-danger"
    >
    price is required
    </div>
    <div
        *ngIf="price.errors?.['minlength'] && (price.dirty || price.touched)"
        class="alert alert-danger"
    >
        Min length la 2
    </div>
</div>
  

  <div class="form-group">
    <label for="exampleInputEmail1">Description</label>
    <input type="text" [(ngModel)]="product.desc" class="form-control"  placeholder="Desc" name="desc"
    #desc="ngModel"
    required
    minlength="2">
    <div *ngIf="desc.errors" class="alert">
      <div
          *ngIf="desc.errors?.['required'] && (desc.dirty || desc.touched)"
          class="alert alert-danger"
      >
      desc is required
      </div>
      <div
          *ngIf="desc.errors?.['minlength'] && (desc.dirty || desc.touched)"
          class="alert alert-danger"
      >
          Min length la 2
      </div>
  </div>
  </div><br>
  <button class="btn btn-primary" [disabled]="!formAdd.valid">Add</button>
</form>